---
BasedOnStyle: Google
PointerAlignment: Left
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Empty
IncludeBlocks: Regroup
AlignEscapedNewlines: DontAlign
IndentCaseLabels: true
BinPackParameters: false
BinPackArguments: false
IndentWidth: 4
ColumnLimit: 100
ContinuationIndentWidth: 4
IndentExternBlock: NoIndent
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
